<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.woodcounty.app"
    version   = "1.0.1">

<name>Wood County Hospital</name>

<description>
Wood County Hospital
</description>

<author href="https://example.com" email="you@example.com">
Joe Boggs
</author>

<icon src="phonegaplogo.png" />
<gap:splash src="splash.png" />

</widget>
